.container {
    margin: 20px 0;
}
.confirm {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    
}
.infect {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);   
}
.deaths {
    margin: 0 2% !important;
    border-bottom: 10px solid rgba(255, 0 , 0, 0.5);
}

@media (max-width: 945px) {
  .confirm, .infect, .deaths {
      margin: 2% 0 !important;
  }
}